In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('./train.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [6]:
y=df['SalePrice']

In [7]:
df=df.drop('SalePrice', axis=1)

In [8]:
df.shape

(1460, 80)

In [9]:
df.dropna(axis=1).shape

(1460, 61)

In [10]:
df=df.dropna(axis=1)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 61 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotArea          1460 non-null int64
Street           1460 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
dtypes: int64(34), object(27)
memory usage: 695.9+ KB

In [14]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [39]:
df_test=pd.read_csv('./test.csv')

In [40]:
df_test.shape

(1459, 80)

In [43]:
df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [41]:
df_train=pd.read_csv('./train.csv')

In [42]:
df_train.shape

(1460, 81)

In [44]:
# read data
df_train=pd.read_csv('./train.csv')
df_test=pd.read_csv('./test.csv')

In [24]:
#delete columns with null values
df_train=df_train.dropna(axis=1)

In [26]:
df_test.shape

(1459, 80)

In [29]:
columns_test=df_test.dropna(axis=1).columns

In [30]:
columns_train=df_train.dropna(axis=1).columns

In [32]:
columns_to_keep=np.intersect1d(columns_test, columns_train)

In [35]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [45]:
# import libraries
import pandas as pd
import numpy as np

# read data
df_train=pd.read_csv('./train.csv')
df_test=pd.read_csv('./test.csv')

#define y_train
y_train=df_train['SalePrice']
df_train=df_train.drop('SalePrice', axis=1)

#select columns with non null values
columns_test=df_test.dropna(axis=1).columns
columns_train=df_train.dropna(axis=1).columns
columns_to_keep=np.intersect1d(columns_test, columns_train)

#delete columns with null values
df_train=df_train[columns_to_keep]
df_test=df_test[columns_to_keep]

In [46]:
df_train.shape

(1460, 46)

In [47]:
df_test.shape

(1459, 46)

In [48]:
y_train.shape

(1460,)

In [51]:
y_train.values.shape

(1460,)

In [50]:
y_train.values.reshape(-1,1).shape

(1460, 1)

In [ ]:
y_train

In [57]:
# read data
df_train=pd.read_csv('./train.csv')
df_test=pd.read_csv('./test.csv')

#define y_train
y_train=df_train['SalePrice'].values.reshape(-1,1)
df_train=df_train.drop('SalePrice', axis=1)

In [60]:
df_train.shape

(1460, 80)

In [66]:
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [61]:
df_test.shape

(1459, 80)

In [65]:
pd.concat([df_train, df_test], axis=0, ignore_index=True).head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [62]:
df_train.shape[0]+df_test.shape[0]

2919

In [ ]:
df_

In [72]:
df_train.iloc[:10, :10]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub

In [75]:
# read data
df_train=pd.read_csv('./train.csv')
df_test=pd.read_csv('./test.csv')

#define y_train
y_train=df_train['SalePrice'].values.reshape(-1,1)
df_train=df_train.drop('SalePrice', axis=1)

#concate df_train and df_test
df=pd.concat([df_train, df_test], axis=0, ignore_index=True)

#select columns with non null values
df=df.dropna(axis=1)

#columns_test=df_test.dropna(axis=1)
#columns_train=df_train.dropna(axis=1).columns
#columns_to_keep=np.intersect1d(columns_test, columns_train)

#delete columns with null values
#df_train=df_train[columns_to_keep]
#df_test=df_test[columns_to_keep]

#transform categorical variables into dummy variables
#df_train = pd.get_dummies(df_train, drop_first=True)
#df_test = pd.get_dummies(df_test, drop_first=True)
df=pd.get_dummies(df, drop_first=True)

#create X_train and y_train
#y_train=df_train['SalePrice']
#X_train= df_train.drop('SalePrice', axis=1)
X_train=df.iloc[:df_train.shape[0],]
X_test=df.iloc[df_train.shape[0]:,]

In [76]:
X_train.shape

(1460, 130)

In [77]:
X_test.shape

(1459, 130)

In [83]:
df_test=pd.read_csv('./test.csv')

In [84]:
df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [85]:
df_train=pd.read_csv('./train.csv')

In [86]:
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [87]:
# import libraries
import pandas as pd
import numpy as np

# read data
df_train=pd.read_csv('./train.csv')
df_test=pd.read_csv('./test.csv')

#Id
df_train=df_train.drop('Id', axis=1)
y_id=df_test['Id'].copy()
df_test=df_test.drop('Id', axis=1)

#define y_train
y_train=df_train['SalePrice'].values.reshape(-1,1)
df_train=df_train.drop('SalePrice', axis=1)

#concate df_train and df_test
df=pd.concat([df_train, df_test], axis=0, ignore_index=True)

#select columns with non null values
df=df.dropna(axis=1)

#transform categorical variables into dummy variables
df=pd.get_dummies(df, drop_first=True)

#create X_train and X_test
X_train=df.iloc[:df_train.shape[0],]
X_test=df.iloc[df_train.shape[0]:,]

# Pipeline and Regression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

# steps
steps = [('scaler', StandardScaler()),
         ('ridge', Ridge())]

# Create the pipeline: pipeline
pipeline = Pipeline(steps)

# Specify the hyperparameter space
parameters = {'ridge__alpha':np.logspace(-4, 0, 50)}

# Create the GridSearchCV object: cv
cv = GridSearchCV(pipeline, parameters)

# Fit to the training set
cv.fit(X_train, y_train)

# Predict y_pred
y_pred=cv.predict(X_test)

#shape to export
output=pd.concat([y_id, DataFrame(y_pred)], axis=1, ignore_index=True)
output.columns=['Id', 'SalePrice']

#export
output.to_csv('./submission_1.csv', sep=',', index=False)

GridSearchCV(cv=None, error_score='raise',
       estimator=Pipeline(steps=[('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('ridge', Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001))]),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'ridge__alpha': array([  1.00000e-04,   1.20679e-04,   1.45635e-04,   1.75751e-04,
         2.12095e-04,   2.55955e-04,   3.08884e-04,   3.72759e-04,
         4.49843e-04,   5.42868e-04,   6.55129e-04,   7.90604e-04,
         9.54095e-04,   1.15140e-03,   1.38950e-03,   1.67683e-03,
    ...    3.90694e-01,   4.71487e-01,   5.68987e-01,   6.86649e-01,
         8.28643e-01,   1.00000e+00])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [90]:
y_id.head()

0    1461
1    1462
2    1463
3    1464
4    1465
Name: Id, dtype: int64

In [95]:
DataFrame(y_pred)

NameError: name 'DataFrame' is not defined

In [96]:
from pandas import Series, DataFrame

In [ ]:
columns=['Id', 'SalePrice']

In [99]:
output=DataFrame(pd.concat([y_id, DataFrame(y_pred)], axis=1, ignore_index=True), columns=['Id', 'SalePrice'])

In [101]:
output=pd.concat([y_id, DataFrame(y_pred)], axis=1, ignore_index=True)

In [103]:
output.columns=['Id', 'SalePrice']

In [105]:
output.to_csv('./submission_1.csv', sep=',', index=False)

In [104]:
output.head()

     Id      SalePrice
0  1461  116484.076363
1  1462  155622.885041
2  1463  169806.364284
3  1464  187761.674403
4  1465  239374.320873

In [106]:
cv.best_params_

{'ridge__alpha': 1.0}

In [100]:
output.head()

   Id  SalePrice
0 NaN        NaN
1 NaN        NaN
2 NaN        NaN
3 NaN        NaN
4 NaN        NaN

In [ ]:
output=DataFrame(output, columns=['Id', 'SalePrice'])

In [54]:
X_test.shape

(1459, 120)

In [55]:
X_train.shape

(1460, 130)

In [56]:
len(columns_to_keep)

46

In [80]:
# Predict y_pred
y_pred=cv.predict(X_test)

In [82]:
y_pred.shape

(1459, 1)

In [ ]:
y_pred

In [ ]:
df

In [ ]:
Id,SalePrice
1461,169000.1
1462,187724.1233
1463,175221
etc.

In [88]:
cv.score(X_train, y_train)

0.89402724600953198

In [79]:
# Compute and print the metrics
r2 = cv.score(X_test, y)
print("Tuned Ridge Alpha: {}".format(cv.best_params_))
print("Tuned Ridge R squared: {}".format(r2))

NameError: name 'y_test' is not defined

In [18]:
X_train.shape

(1460, 189)

In [19]:
X_test.shape

(1459, 123)

In [20]:
df_train.shape

(1460, 190)

In [21]:
df_test.shape

(1459, 123)

In [111]:
# import libraries
import pandas as pd
import numpy as np

def rmsle(y, y_):
    log1 = np.nan_to_num(np.array([np.log(v + 1) for v in y]))
    log2 = np.nan_to_num(np.array([np.log(v + 1) for v in y_]))
    calc = (log1 - log2) ** 2
    return np.sqrt(np.mean(calc))

# read data
df_train=pd.read_csv('./train.csv')
df_test=pd.read_csv('./test.csv')

#store Ids of homes
df_train=df_train.drop('Id', axis=1)
y_id=df_test['Id'].copy()
df_test=df_test.drop('Id', axis=1)

#define y_train
y_train=df_train['SalePrice'].values.reshape(-1,1)
df_train=df_train.drop('SalePrice', axis=1)

#concate df_train and df_test
df=pd.concat([df_train, df_test], axis=0, ignore_index=True)

#select columns with non null values
df=df.dropna(axis=1)

#transform categorical variables into dummy variables
df=pd.get_dummies(df, drop_first=True)

#create X_train and X_test
X_train=df.iloc[:df_train.shape[0],]
X_test=df.iloc[df_train.shape[0]:,]

# Pipeline and Regression

# import libraries
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV
from sklearn import metrics

# steps
steps = [('scaler', StandardScaler()),
         ('ridge', Ridge())]

# Create the pipeline: pipeline
pipeline = Pipeline(steps)

# Specify the hyperparameter space
parameters = {'ridge__alpha':np.logspace(-4, 0, 50)}

rmsle_scorer = metrics.make_scorer(rmsle, greater_is_better=False)

# Create the GridSearchCV object: cv
cv = GridSearchCV(pipeline, parameters, scoring=rmsle_scorer, cv=5)

# Fit to the training set
cv.fit(X_train, y_train)

#predict on train set
y_pred_train=cv.predict(X_train)

# Predict test set
y_pred_test=cv.predict(X_test)

/Users/j.saadani/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in log
  import sys

In [115]:
submission_1=pd.read_csv('./submission_1.csv')

In [ ]:
y_pred_test

In [123]:
submission_1['SalePrice'].values.reshape(-1,1)-y_pred_test

array([[  345.80493317],
       [  524.68258021],
       [  428.36258851],
       ...,
       [ 1083.45609621],
       [ 1029.98560855],
       [ 1075.80132168]])

In [121]:
y_pred_test.shape

(1459, 1)

In [113]:
print("RMLSE on train set: {}".format(rmsle(y_train, y_pred_train)))

RMLSE on train set: 0.143969316672

In [114]:
cv.best_params_

{'ridge__alpha': 1.0}

In [110]:
cv.score

<bound method GridSearchCV.score of GridSearchCV(cv=5, error_score='raise',
       estimator=Pipeline(steps=[('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('ridge', Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001))]),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'ridge__alpha': array([  1.00000e-04,   1.20679e-04,   1.45635e-04,   1.75751e-04,
         2.12095e-04,   2.55955e-04,   3.08884e-04,   3.72759e-04,
         4.49843e-04,   5.42868e-04,   6.55129e-04,   7.90604e-04,
         9.54095e-04,   1.15140e-03,   1.38950e-03,   1.67683e-03,
    ...    3.90694e-01,   4.71487e-01,   5.68987e-01,   6.86649e-01,
         8.28643e-01,   1.00000e+00])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=make_scorer(rmsle, greater_is_better=False), verbose=0)>

In [ ]:
from sklearn import metrics

In [ ]:
#shape to export
output=pd.concat([y_id, DataFrame(y_pred)], axis=1, ignore_index=True)
output.columns=['Id', 'SalePrice']

#export
output.to_csv('./submission_2.csv', sep=',', index=False)